.matches_container {
    height: 100%;
    overflow: auto;
    margin-top: 1rem;
}

.no_match {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin-top: 35vh;
}