.profile__container,
.profile__menu,
.profile__temp {
  display: flex;
  flex-direction: column;
}

.profile__container {
  gap: 1.5rem;
}

.profile__temp {
  gap: 1rem;
}

.profile__header,
.profile__header__avatar_and_name {
  display: flex;
  align-items: center;
}

.profile__header {
  &__avatar_and_name {
    gap: 0.5rem;
    flex: 1;
  }
}