.profile_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile_user_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin-top: 8vh;
}

.profile_user_info_avatar {
  position: relative;
}

.change_avatar {
  position: absolute !important;
  bottom: -8px;
  right: -8px;
  border-radius: 100%;
  transform: scale(0.75);
}

.profile_items_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
}

.hiddenInput {
  display: none;
}