.head__bio {
  display: flex;
}

.content__qualities {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.icon__edit {
  display: flex;
  padding-bottom: 0 !important;
}