.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;

  /* padding for ios bottom line */
  padding-bottom: var(--safe-area-inset);
  gap: 0.5rem 0;
  max-width: 480px;
  min-width: 360px;
  margin: 0 auto;
  h3 {
    margin: 0.5rem 0;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0 1rem;
  }
}