.question {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: calc(100% - 3rem);
}
.question__preview {
  margin: 0rem -1rem;
  padding: 0rem 1rem;
  margin-bottom: -4rem;
  padding-bottom: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  overflow: hidden;
}

.question__head {
  display: flex;
  align-items: center;
}
.question__head_text {
  flex-grow: 1;
}

.question__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-grow: 1;
  overflow-y: auto;
  margin: 0 -1rem;
  padding: 0 1rem;
}

.question__content_preview {
  margin: 0 -1rem;
  padding: 0 1rem;
  margin-top: -1.125rem;
  padding-top: 1.125rem;
  margin-bottom: -4rem;
  padding-bottom: 6.5rem;
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.question__input{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.question__input_zeroGap{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.question__nav {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
}

.question__nav_preview {
  position: absolute;
  left: 1rem;
  right: 1rem;
  bottom: 3.5rem;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
}

.question__tagLine {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.question__button_half {
  width: 50%;
}