.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  row-gap: 1rem;

  &_content {
    flex: 1;
    overflow: hidden;
  }
}

.buttons_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
  padding-bottom: 0.5rem;

  &_column {
    width: 100%;
  }
}