@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Lato:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* Set core body defaults */
html, body {
  height: 100%;
}

body {
  overscroll-behavior-y: contain;
  min-height: -webkit-fill-available;
}

#root{
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
}
// we must define variables at root scss
// otherwise we can't bypass styles incapsulation
:root {
  // Variables for light palete
  --text-color: #0D1B2A;
  --bg-color: #FFFBFF;
  --secondary-bg-color: #fff;
  --primary-color: #2EAB67;
  --primary-color-50: rgba(45, 171, 103, 0.5);
  --secondary-color: #F9C22E;
  --accent-color:  #F55D3E;
  --constant-dark-color: #0D1B2A;
  --constant-dark-color-70: RGBA(13, 27, 42, .7);
  --constant-dark-color-80: RGBA(13, 27, 42, .8);
  --constant-light-color: rgb(212, 226, 242);
  --constant-light-color-50: rgba(212, 226, 242, .3);
  --contrast-light-color: white;
  --safe-area-inset: calc(env(safe-area-inset-bottom) / 2);

  .dark {
    // Variables for dark palete
    --text-color: #D4E2F2;
    --bg-color: #0D1B2A;
    --secondary-bg-color: #192B3E;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset !important;
}