.list_button {
  &_container {
    display: flex;
    align-items: stretch;
    width: 100%;
    color: var(--text-color);
    padding: 0.5rem 0;
  }
  
  &_icon {
    margin-right: 1rem;
    // margin-bottom: 0.5rem;
  }

  &_label_container {
    flex: 1;
    // border-bottom: 2px solid var(--text-color-50) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: start !important;
    // padding-bottom: 0.5rem !important;
  }
  
}