.container {
  height: 100%;
  border: 1px solid;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.background_image {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.no_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.info {
  height: 124px;
  width: 100%;
  background-color: #0D1B2A80;
  position: absolute;
  bottom: 0;
  padding: 2rem 1rem;
  transition: height 0.5s ease;

  &.expanded {
    height: 90%;
  }
}

.badges_container {
  display: flex;
  column-gap: 0.5rem;
  position: absolute;
  right: 1rem;
  top: -1rem;
}

.users_general_container {
  display: flex;
  align-items: center;
}

.users_general {
  flex: 1;
}

.description {
  position: absolute;
  height: 70%;
  width: 100%;
  border-radius: 20px;
  bottom: -100%;
  transition: bottom 0.5s ease;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  &.expanded {
    bottom: 0;
  }
}